/*Pypograpy */

@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
$main-font: 'News Cycle',
sans-serif;

/* Colors */

$main-background: #000;
$font-primary: #ff6;
$font-secondary: #4bd5ee;
$font-thirdary: #5780f2;
$font-fordary: rgba(30, 38, 121, 0.8);

/* Mediaquery */

$screen-lrg: 400px;